{% extends 'base.html' %}
{% block content %}
    <ul class="list-group">
        {% for i in bookname %}
            {#            <li class="list-group-item" style="margin-left:280px; width: 800px;"><i#}
            {#                    class="zi zi_book" zico="书籍"></i></li>#}
            <a href="/{{ i[0] }}/information" class="btn btn-outline-secondary zi zi_book" zico="书籍" role="button">{{ i[1] }}</a>
        {% endfor %}
        {% for i in author %}
            <li class="list-group-item" style="margin-left:280px; width: 800px;"><i
                    class="zi zi_book" zico="书籍"></i>{{ i[1] }}</li>
        {% endfor %}
        {% for i in result %}

            {#            <li class="list-group-item" style="margin-left:280px; width: 800px;"><i#}
            {#                    class="zi zi_book" zico="书籍"></i>{{ i[1] }}</li>#}
        {% endfor %}
    </ul>
{% endblock %}
